{% extends 'base.game.html.twig' %}

{% block title %}Game list{% endblock %}
{% block body %}
    <h1>{{ 'translation_game'|trans }}</h1>
    <span id="game-initial" class="hide" data-game-initial="{{ gameView|json_encode }}"></span>
    <canvas style="width: 1400px; height: 800px; border: black solid 1px" id="gameCanvas"></canvas>
{% endblock %}
